<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.albert.simple.recyclerview">

    <application>
        <activity android:name="com.android.albert.RecyclerViewHomeActivity" />
        <activity android:name="com.android.albert.RecyclerViewSingleListActivity" />
        <activity android:name="com.android.albert.RecyclerViewMultiTypeActivity" />
    </application>
</manifest>
