<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.albert.simple">

    <application>
        <activity
            android:name="com.android.albert.QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.android.albert.StatisticsRingActivity" />
        <activity android:name="com.android.albert.StatisticsProgressActivity" />
    </application>
</manifest>
